body{
    background-color: purple;
}

#logo{
    width: 10%;
    float: left;
}
#logo img{
    max-height: 100%;
    max-width: 100%;
}
#navi{
    width: 85%;
    float: right;
}
#secondNavi{
    width: 85%;
    float: right;
}

#fruit{
    width: 17%;
    border: 1px solid red;
    font-size: 20px;
    float: left;
    text-align: center;
}

#vege{
    width: 20%;
    border: 1px solid red;
    font-size: 20px;
    float: left;
    text-align: center;
}

#frosen{
    width: 20%;
    border: 1px solid red;
    font-size: 20px;
    float: left;
    text-align: center;
}

#misc{
    width: 20%;
    border: 1px solid red;
    font-size: 20px;
    float: left;
    text-align: center;
}

#log{
    width: 20%;
    border: 1px solid red;
    font-size: 20px;
    float: left;
    text-align: center;
}

#usertool,#userorder{
    width: 17%;
    border: 1px solid red;
    font-size: 20px;
    float: right;
    text-align: center;
    visibility: hidden;
}

#showing{
    padding-top: 200px;
}

#table,#tr,#trv,#th,#thc,#thn,#thp,#thq,#thu,#tht,#ths{
    border: 1px solid black;
}

#th{
    font-size: 20px;
}
#table{
    width: 70%;
}
#ths{
    text-align: right;
}
#addrText{
    vertical-align: top;
}